<div>
    <div *ngIf="viewTypeOptions.ViewSearch">
        <div class="container">
            <div class="row justify-content-center p-4">
                <div class="col col-7">
                    <div class="form-group">
                        <input (keyup)="ChangeSearchInput($event)" type="text" class="form-control" placeholder="Arama yapmak için bir şeyler yazın...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewTypeOptions.ViewMainList">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-6">
                    <button *ngFor="let member of viewMainListOptions.yearList" type="button" class="btn btn-secondary alert-secondary btn-block">
                        <span>
                            <span class="float-left">{{member.text}}</span>
                            <span class="badge badge-secondary float-right">Toplam : {{member.count}}</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewTypeOptions.ViewPodcastList">Podcast List</div>
    <div *ngIf="viewTypeOptions.ViewDetails">Details</div>
    <div *ngIf="viewTypeOptions.ViewMediaPlayer">Media Player</div>
</div>